<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleWPFAppWithDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleWPFAppWithDb.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=(localdb)\mssqllocaldb;Database=aspnet-SampleWebApplication-53bc9b9d-9d6a-45d4-8429-2a2761773502;Trusted_Connection=True;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="PoolingInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </SampleWPFAppWithDb.Properties.Settings>
    </userSettings>
</configuration>